<h2>Reportes de Ventas por dia</h2>

<div class="row">
  <label class="col-lg-4">Buscar por Fecha</label>
  <div class="col-lg-4">
    <input type="date" class="form-control" [(ngModel)]="dateSearch">
  </div>
</div>
<div class="row">

  <div class="col-lg-4">
    <button (click)="getByDate()">Buscar</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">

    <table>
      <thead>
          <tr>
              <th>Cliente</th>
              <th>Plato</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Fecha</th>
              <th>Total</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of reportLista">
              <td>{{item.nombreCliente}}</td>
              <td>{{item.nombreComida}}</td>
              <td>{{item.precio}}</td>
              <td>{{item.cantidad}}</td>
              <td>{{item.fecha}}</td>
              <td>{{item.total}}</td>
          </tr>
      </tbody>
  </table>
  </div>
</div>

<div class="row">

  <div class="col-lg-4">
    <button (click)="downloadReport()">Exportar PDF</button>
  </div>
</div>
