<h2>Realizar Ventas</h2>

<div class="row ">
  <label class="col-lg-4">Fecha:{{dateNow | date:'shortDate'}}</label>
  </div>

<div class="row ">
  <label class="col-lg-4">Cliente</label>
  <div class="col-lg-4">
        <input type="text" [(ngModel)]="venta.nombreCliente">
  </div>
</div>


<div class="row ">
  <label class="col-lg-4">Plato</label>
  <div class="col-lg-4">
      <select id="plato" name="plato" [(ngModel)]="venta.comida" class="form-control">
        <option [ngValue]="item" *ngFor="let item of comidaList">{{item.nombre}}</option>
      </select>
  </div>
</div>

<div class="row ">
  <label class="col-lg-4">Cantidad</label>
  <div class="col-lg-4">
        <input type="text" [(ngModel)]="venta.cantidad">
  </div>
</div>

<div class="row ">
  <label class="col-lg-4">Precio:{{calcularPrecio()}}</label>

</div>

<div class="row ">
    <div class="col-lg-4">
   <button (click)="guardarVenta()">Guardar Venta</button>
  </div>
</div>
