ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  flex:1 0 auto;
  margin: 0.2px;
  padding: 0;
}
li a {
  color: black;
  padding: 15px;
  border: 5px;
  text-decoration: none;
  background-color: rgb(212, 212, 221);
  border-color: rgb(16, 17, 16);
}
li a:hover{
  background-color: rgb(77, 77, 105);
  color: white;

}
