<nav>
  <ul>
    <li><a  href="">Home</a></li>
    <li><a class="card" [routerLink]="['/app-comidas']" href="">Comidas</a></li>
    <li><a class="card" [routerLink]="['/app-ventas']" href="">Ventas</a></li>
    <li><a [routerLink]="['/app-reportes']"href="">Reportes</a></li>
  </ul>
</nav>
