<h3>Lista de Comidas</h3>


<div class="row">
  <div class="col-lg-12">
    <button (click)="agregar()">Nuevo</button>
    <button (click)="guardar()">Guardar</button>
  </div>
</div>

<div class="row">
  <label class="col-lg-3">Nombre</label>
  <div class="col-lg-4">
    <input type="text" [(ngModel)] ="comida.nombre"/>
  </div>
</div>
<div class="row">
  <label class="col-lg-3">Precio</label>
  <div class="col-lg-4">
    <input [(ngModel)]="comida.precio"/>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">

    <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of comidaList">
              <td>{{item.id}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.precio}}</td>
              <td>
                <button (click)="editar(item)">Editar</button>
                <button (click)="eliminar(item.id)">Eliminar</button>
              </td>
          </tr>
      </tbody>
  </table>
  </div>
</div>
